*.class
.DS_Store
build/*
.gradle/*
/Fresh Fruit/nbproject/private/
/Fresh Fruit/Fresh Fruit-war/nbproject/private/
/Fresh Fruit/Fresh Fruit-ejb/nbproject/private/
FreshFruitWebApp/nbproject/*
/FreshFruitWebApp/build/
/FreshFruitWebApp/dist/
